<form method="post">
    <label>Email</label>
    <input type="text" name="email" placeholder="Introduce tu email..." class="form-control" />
    <label>Contraseña</label>
    <input type="password" name="password"  class="form-control" />
    <br />
    <button class="btn btn-outline-success">
        Login
    </button>
</form>